@media (max-width: 768px) {
  header {
    width: 100%;
    height: 110px;
    background-color: #fff;
    margin: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 58px 10%;
    width: 80%;
    align-items: center;
  }

  #logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    border-radius: 8px;
  }

  nav > ul {
    display: none;
  }

  #hamburger {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #header-section {
    width: 100%;
    height: 587.15px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-size: 90% 100%;
    background-repeat: no-repeat;
    border-radius: 0 0 0 100px;
  }

  @media (max-width: 768px) {
    #header-section {
      background-image: url("../images/background.png");
    }
  }

  #header-section .container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    width: 80%;
    height: 604px;
  }

  #profile-header > h1 {
    width: 80%;
    height: 150px;
    padding-top: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  #profile-description > p {
    width: 100%;
    height: 146px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    padding: 20px 0;
  }

  .connect {
    width: 80%;
    height: 24px;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7f8cff;
  }

  .social-media-icons {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 20px 0;
  }

  /* Work Section */

  .works {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 100%;
  }

  .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 327px;
    height: 552px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 7%;
    margin-top: 88px;
  }

  #snapshot1 {
    width: 100%;
    height: 220px;
    background: url(../images/snapshot1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

  #snapshot2 {
    width: 100%;
    height: 220px;
    background: url(../images/snapshot2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

  #snapshot3 {
    width: 100%;
    height: 220px;
    background: url(../images/snapshot3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

  #snapshot4 {
    width: 100%;
    height: 220px;
    background: url(../images/snapshot4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

  .left-block {
    margin-left: 7%;
    padding: 16px;
    width: 100%;
  }

  .project-title > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    color: #091e42;
  }

  .frame {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }

  .counter1,
  .counter2 {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #c1c7d0;
    margin: 0 20px;
  }

  .frame > .client > h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    text-transform: uppercase;
  }

  .frame > .role > h2,
  .frame > .year > h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #6b778c;
  }

  .work-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    padding-bottom: 24px;
  }

  .tags {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .tags > li {
    margin-right: 8px;
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .action {
    margin-top: 40px;
  }

  .btn {
    text-decoration: none;
    padding: 12px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
  }

  /* About Myself */

  #myself {
    width: 100%;
    background-color: #fff;
    border-radius: 0 100px 0 0;
    margin-top: 142px;
  }

  #about-myself {
    padding: 114px 24px 350px;
    display: flex;
    flex-direction: column;
  }

  #self-header {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  #self-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding: 18px 0;
  }

  #sm-icons-self {
    margin-bottom: 40px;
  }

  .skillset {
    list-style: none;
    padding: 24px 0;
    width: 100%;
  }

  .skill-header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .open-skil-details {
    display: flex;
    flex-direction: column;
  }

  .skill-details-items {
    background: #f7f7f9;
    border-radius: 8px;
    width: 90%;
    height: 67px;
    display: flex;
    margin: 6px 0;
    align-items: center;
  }

  #skill-item-thumbnail1 {
    width: 48px;
    height: 48px;
    margin: 10px 20px;
    background: url(../images/javascript.svg);
  }

  #skill-item-thumbnail2 {
    width: 48px;
    height: 48px;
    margin: 10px 20px;
    background: url(../images/html.svg);
  }

  #skill-item-thumbnail3 {
    width: 48px;
    height: 48px;
    margin: 10px 20px;
    background: url(../images/css.svg);
  }

  .skill-item-description {
    font-style: normal;
    font-weight: 500;
    font-size: 15 px;
    line-height: 20px;
    color: #253858;
    padding-top: 16px;
  }

  .skill-separator {
    height: 1px;
    background: #dfe1e6;
    width: 100%;
    flex-basis: 100%;
  }

  .skill-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    padding: 20px 15px;
  }

  /* CONTACT ME` */

  #contact-me {
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 779px;
    left: 0;
    background: #6070ff;
    border-radius: 100px 0 0 0;
    background-image: url('../images/contact-form-shapes-mobile-bg.svg');
    background-repeat: no-repeat;
    background-position: right;
  }

  #contact-me-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    padding-top: 70px;
  }

  #contact-me-description {
    width: 327px;
    height: 90px;
    padding-left: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin: 0;
  }

  #contact-me-form {
    display: inherit;
    flex-direction: column;
    width: 327px;
    height: 102px;
    margin: 80px 0;
  }

  .form-field {
    margin: 10px 24px;
  }

  .form-field input,
  .form-field textarea {
    width: 327px;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }

  .form-field textarea {
    height: 170px;
  }

  .form-field input::placeholder,
  .form-field textarea::placeholder {
    color: #b3bac5;
    padding: 15px 15px;
    font-size: 15px;
  }

  button {
    padding: 12px 16px;
    width: 150px;
    height: 48px;
    margin-left: 24px;
    background: #fff;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  button:hover {
    color: #fff;
    border: 1px solid #fff;
    background: #6070ff;
  }

  button > span:hover {
    color: #fff;
  }
}

/* Desktop Version */
* {
  padding: 0;
  margin: 0;
}

body {
  background: #e5e5e5;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  header {
    width: 100%;
    height: 72px;
    background-color: #fff;
  }

  #hamburger {
    display: none;
  }

  .header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 26px 155px;
    width: 80%;
    z-index: 1;
  }

  nav > ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }

  #logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  nav > ul > li > a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  #header-section {
    width: 100%;
    height: 1050px;
    background-color: #fff;
    border-radius: 0 0 0 100px;
  }

  .container {
    width: 100%;
    padding-top: 100px;
    height: 900px;
    background-image: url(../images/background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #profile-header > h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    padding-left: 15%;
  }

  #profile-description > p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    width: 43%;
    padding: 24px 0 0 15%;
  }

  .connect {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-transform: uppercase;
  }

  #connect {
    padding: 24px 0 24px 15%;
  }

  .social-media-icons {
    list-style: none;
    display: flex;
  }

  #sm-icons-header {
    margin-left: 15%;
  }

  .social-media-icons > li {
    margin-right: 19px;
  }

  .works {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .card {
    margin-top: 88px;
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    margin-left: 10%;
    gap: 12px;
    width: 80%;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .card:nth-child(2n+2) {
    flex-direction: row-reverse;
  }

  #snapshot1 {
    background-image: url(../images/snapshot1-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
    width: 50%;
  }

  #snapshot2 {
    background-image: url(../images/snapshot2-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
    width: 50%;
  }

  #snapshot3 {
    background-image: url(../images/snapshot3-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
    width: 50%;
  }

  #snapshot4 {
    background-image: url(../images/snapshot4-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
    width: 50%;
  }

  .left-block {
    margin-left: 24px;
    padding: 48px 44px;
    width: 50%;
  }

  .project-title > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .frame {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }

  .counter1,
  .counter2 {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #c1c7d0;
    margin: 0 20px;
  }

  .frame > .client > h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    text-transform: uppercase;
  }

  .frame > .role > h2,
  .frame > .year > h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .work-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-bottom: 24px;
  }

  .tags {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .tags > li {
    margin-right: 8px;
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .action {
    margin-top: 40px;
  }

  .btn {
    text-decoration: none;
    padding: 12px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    transition: all 0.5s ease-out;
  }

  .btn:hover {
    border: 1px solid #fff;
    background-color: #6070ff;
    color: #fff;
    padding: 12px 30px;
    font-size: 15px;
  }

  .social-media-icons > li > a > img:hover {
    animation: increase 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes increase {
    100% {
      height: 30px;
      width: 30px;
    }

    0% {
      height: 30px;
      width: 30px;
    }
  }

  /* ABOUT ME */

  #myself {
    width: 100%;
    background-color: #fff;
    border-radius: 0 100px 0 0;
    margin-top: 142px;
  }

  #about-myself {
    padding: 142px 142px 350px;
    display: flex;
  }

  #self-top {
    width: 35%;
  }

  #self-header {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  #self-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding: 24px 0;
  }

  #sm-icons-self {
    padding-top: 24px;
    margin-bottom: 40px;
  }

  .skillset {
    list-style: none;
    padding: 24px 49px;
    width: 75%;
  }

  .skill-header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .open-skil-details {
    display: flex;
  }

  .skill-details-items {
    background: #f7f7f9;
    border-radius: 8px;
    width: 122px;
    height: 115px;
    margin-right: 12px;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
  }

  #skill-item-thumbnail1 {
    background-image: url(../images/javascript.svg);
    width: 48px;
    height: 48px;
  }

  #skill-item-thumbnail2 {
    background-image: url(../images/html.svg);
    width: 48px;
    height: 48px;
  }

  #skill-item-thumbnail3 {
    background-image: url(../images/css.svg);
    width: 48px;
    height: 48px;
  }

  .skill-item-description {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    padding-top: 16px;
  }

  .skill-separator {
    height: 1px;
    background: #dfe1e6;
    width: 100%;
    flex-basis: 100%;
  }

  .skill-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    padding: 20px 15px;
  }

  #contact-me {
    background: #6070ff;
    border-radius: 100px 0 0 0;
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: column;
    padding: 142px;
    align-items: center;
    background-image: url(../images/contact-bg-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #contact-me-header {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
  }

  #contact-me-description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    width: 40%;
    padding: 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  input,
  textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    margin-bottom: 27px;
    width: 100%;
  }

  input::placeholder,
  textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding-left: 16px;
    font-family: 'Poppins', sans-serif;
  }

  input {
    height: 48px;
  }

  textarea {
    height: 170px;
  }

  .form-submit-btn {
    align-self: center;
  }
}
